<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohong.model_visualization_tools.mapper.pg.ModelTrainingMapper">
    <insert id="insertFeatureProcessingData" parameterType="com.bohong.model_visualization_tools.domain.modelTraining.ModelTraining">
        insert into dwa_clue_feature_params values(
                                                      #{field,jdbcType=VARCHAR},#{describes,jdbcType=VARCHAR},#{field_type,jdbcType=VARCHAR},#{setting_type,jdbcType=VARCHAR},#{handle,jdbcType=VARCHAR}, #{handle_value,jdbcType=VARCHAR}
                                                  , #{features_model_id,jdbcType=VARCHAR})
    </insert>

    <select id="selectModelparamsData" parameterType="String" resultType="com.bohong.model_visualization_tools.domain.modelTraining.ModelParams">
        SELECT alg_id,param_name from dwa_clue_model_params_list WHERE alg_id =  #{alg_id}
    </select>

    <insert id="insertSuperParameterSettingData" parameterType="com.bohong.model_visualization_tools.domain.modelTraining.ModelParams">
        insert into dwa_clue_model_params (param_name,is_used,param_value,model_id) values(
                                                    #{param_name,jdbcType=VARCHAR},
                                                    #{use,jdbcType=VARCHAR},
                                                    #{handle_value,jdbcType=VARCHAR},
                                                    #{alg_id,jdbcType=VARCHAR}
                                                )
    </insert>
</mapper>