<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <div th:include="public/head :: head" />
    <style type="text/css">
        code {
            padding: 0px 4px;
            color: #d14;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card-body">
        <form class="form-inline" id="userInfoformationForm">
<!--             <input type="hidden" value="" name="" />-->
        </form>
    </div>
    <div id="userInfoformationData"></div>
    <p>
        <button id="btnSave" class="button button-primary">提交</button>
    </p>
    <hr>
</div>
</body>

<script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/assets/js/bui-min.js"></script>

<script type="text/javascript" src="/assets/js/config-min.js"></script>
<script type="text/javascript">
    BUI.use('common/page');
</script>
<script type="text/javascript" src="/assets/js/prettify.js"></script>
<script type="text/javascript">
    $(function () {
        obtainUserData();
    });
</script>
<script type="text/javascript" src="/systemSettings/userInfoformation.js"></script>
</html>