<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="tail" >
    <script src="/assets/jquery/jquery-3.3.1.min.js"></script><!-- jquery vendor -->
    <script type="text/javascript" src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/assets/jquery/jquery-draggable.js"></script><!-- jquery vendor -->
    <script src="/assets/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
    <script src="/assets/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="/assets/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="/assets/js/lib/mmc-common.js"></script>
    <script src="/assets/js/lib/mmc-chat.js"></script>
    <script src="/systemSettings/menulnformation.js"></script>
    <!--<script src="/assets/sweetalert/sweetalert.min.js"></script>-->
    <!--<script src="/assets/sweetalert/sweetalert.init.js"></script>-->
    <!--    <script src="/assets/js/scripts.js"></script>&lt;!&ndash; scripit init&ndash;&gt;-->
    <!--    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">-->
</div>